.div_1{
    position: relative;
    z-index: 2;
    display: flex;
    background-color: black;
    vertical-align: center;
    padding-left: 10px;
    padding-bottom: 15px;
}

.heading{
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: 50px;
    height: 30px;
    margin-top:7px;
    margin-bottom: 15px;
}
.p_1{
    margin-top: 15px;
    font-weight: bold;
    color: white;
    font-size: 25px;
    height: 20px;
    margin-bottom: 12px;
    font-size: 40px;
}
.div_2{
    display: flex;
}
.div_3{
    background-color: white;
    padding-left: 10px;
    display: flex;
    margin-top: 1px;
}
.button_1{
    background-color: white;
    border: none;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition:background-color 0.8s,color 0.8s;
    margin-left: -1px;
    font-weight: bold;
    font-size: 15px;
}
.button_1:hover{
    background-color: black;
    color: white;
}
.button_2{
    background-color: white;
    border: none;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 10px;
    padding-bottom: 8px;
    transition:background-color 0.8s,color 0.8s;
    margin-left: -1px;
    font-weight: bold;
    font-size: 15px;

}
.button_2:hover{
    background-color: black;
    color: white;
}
.div_search{
    position: absolute;
    right: 30px;
    vertical-align: center;
}
.Search{
    padding-top: 5px;
    height: 20px;
    vertical-align: center;
}
.div_breaking{
    background-color: grey;
    display: flex;
}
.p_breaking{
    margin:0px;
    margin-left: 10px;
    margin-top:8px;
    margin-bottom: 8px;
    font-weight: 700;
    font-style:"Poetsen One";
    font-size: 16px;
}
.scroll{
    margin-left: 7px;
    margin-top: 10px;
}
.weather{
    position: absolute;
    right:140px;
    display: flex;
    margin-top: 9px;
}
.date_div{
    position:absolute;
    right: 40px;
    top:115px;
}
.date_p{
    margin: 0;
    margin-top: 8px;
    font-weight: bold;
}
.body{
    padding-top: 60px;
    padding-left: 10px;
    display: flex;
    background-color: rgb(244, 243, 243);
}
.newspaper_img{
    object-fit: cover;
    position: relative;
    transition: height 0.5s,width 0.5s;
    height: 450px;
    width: 380px;
    display: flex;
}
.newspaper{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    transition: height 0.5s,width 0.5s,box-shadow 0.5s;
    display: flex;
}
.newspaper:hover{
    box-shadow: 4px 4px 7px grey;
}
.newspaper_img:hover{
    height: 500px;
    width:400px;
}
.news_img_text_culture{
    display: flex;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding-left: 4px;
    padding-right: 4px;
    position: absolute;
    transition: background-color 0.5s,color 0.5s;
}
.news_img_text_culture:hover{
    background-color: white;
    color: black;
}
.Culture{
    border-radius:20px;
    border-radius: 20px;
    bottom: 160px;
    left: 30px;
    position: absolute;
    display: flex;
}
.feature_text{
    border-radius:20px;
    border-radius: 20px;
    left:90px;
    bottom: 160px;
    position: absolute;
}
.feature{
    display: flex;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding-left: 4px;
    padding-right: 4px;
    position: absolute;
    transition: background_color 0.5s,color 0.5s;
}
.feature:hover{
    background-color: white;
    color:black;
}

.description{
    border-radius:20px;
    left:30px;
    bottom: 80px;
    position: absolute;
    display: flex;
}
.description_p{
    margin: 0px;
    font-weight: bold;
    font-family:"Montserrat";
    color: white;
    font-size: 25px;
}
.mo_div{
    border-radius:20px;
    border-radius: 20px;
    left:30px;
    bottom: 50px;
    position: absolute;
    display: flex;
}
.mo_p{
    margin: 0px;
    font-weight: bold;
    font-size: 20px;
    font-family:"Montserrat";
    color: white;
    border-radius: 20px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 25px;
    width: 300px;
}
.logo{
    position: absolute;
    left: 30px;
    bottom: 10px;
}
.d_img{
    width: 25px;
    border-radius: 30px;
}
.theme_div{
    position: absolute;
    bottom: 10px;
    left: 70px;
    display: flex;
}
.theme_p{
    margin: 0px;
    color: white;
}
.date_img1{
    position: absolute;
    bottom: 10px;
    left:240px;
    display: flex;
}
.date_img1_p{
    margin: 0px;
    color:white;
    font-weight: 700;
}
.img_2{
    margin-left: 20px;
    object-fit: cover;
    z-index:0;
    position: relative;
    transition: height 0.5s,width 0.5s;
    height: 450px;
    width: 260px;
    display: flex;
}
.universe_img{
    border-radius: 20px;
    height: 100%;
    width: 100%;
    transition: height 0.5s,width 0.5s,box-shadow 0.5s;
    display: flex;
}
.universe_img:hover{
    box-shadow: 4px 4px 7px grey;
}
.img_2:hover{
    height:500px;
    width:275px;
}
.Fashion{
    border-radius:20px;
    border-radius: 20px;
    bottom: 160px;
    left: 30px;
    position: absolute;
    display: flex;
}
.news_img_text_Fashion{
    display: flex;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding-left: 4px;
    padding-right: 4px;
    position: absolute;
    transition: background-color 0.5s,color 0.5s;
}
.news_img_text_Fashion:hover{
    background-color: white;
    color: black;
}
.popular{
    display: flex;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding-left: 4px;
    padding-right: 4px;
    position: absolute;
    transition: background_color 0.5s,color 0.5s;
}
.popular_text{
    border-radius:20px;
    border-radius: 20px;
    left:90px;
    bottom: 160px;
    position: absolute;
}
.popular:hover{
    background-color: white;
    color:black;
}
.description_img2_p{
    margin: 0px;
    font-weight: bold;
    font-family:"Montserrat";
    color: white;
    font-size: 22px;
}
.description_2{
    border-radius:20px;
    left:30px;
    bottom: 70px;
    position: absolute;
    display: flex;
}
.Shweta{
    border-radius:20px;
    border-radius: 20px;
    left:30px;
    bottom: 45px;
    position: absolute;
    display: flex;
}
.Shweta_p{
    margin: 0px;
    font-weight: bold;
    font-family:"Montserrat";
    color: white;
    font-size: 25px;
    width: 300px;
}
.date_img2{
    position: absolute;
    bottom: 10px;
    left:120px;
    display: flex;
}
.date_img2_p{
    margin: 0px;
    color:white;
}
.img_3{
    margin-left: 20px;
    object-fit: cover;
    z-index:0;
    position: relative;
    transition: height 0.5s,width 0.5s;
    height: 215px;
    width: 400px;
    display: flex;
}
.img_3:hover{
    height:250px;
    width:425px;
}
.coffee_img{
    border-radius: 20px;
    height: 100%;
    width: 100%;
    transition: height 0.5s,width 0.5s,box-shadow 0.5s;
    display: flex;
}
.coffee_img:hover{
    box-shadow: 4px 4px 7px grey;
}
.popular_text{
    border-radius:20px;
    border-radius: 20px;
    bottom: 160px;
    left: 30px;
    position: absolute;
    display: flex;
}
.Food{
    border-radius:20px;
    border-radius: 20px;
    bottom: 160px;
    left: 30px;
    position: absolute;
    display: flex;
}
.news_img_text_Food{
    display: flex;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding-left: 4px;
    padding-right: 4px;
    position: absolute;
    transition: background-color 0.5s,color 0.5s;
}
.news_img_text_Food:hover{
    background-color: white;
    color: black;
}
.popular_text{
    border-radius:20px;
    border-radius: 20px;
    left:90px;
    bottom: 160px;
    position: absolute;
}
.popular:hover{
    background-color: white;
    color:black;
}
.description_img3_p{
    margin: 0px;
    font-weight: bold;
    font-family:"Montserrat";
    color: white;
    font-size: 22px;
}
.description_3{
    border-radius:20px;
    left:30px;
    bottom: 70px;
    position: absolute;
    display: flex;
}
.coffee_txt{
    border-radius:20px;
    border-radius: 20px;
    left:30px;
    bottom: 45px;
    position: absolute;
    display: flex;
}
.coffee_p{
    margin: 0px;
    font-weight: bold;
    font-family:"Montserrat";
    color: white;
    font-size: 25px;
    width: 300px;
}
.date_img3{
    position: absolute;
    bottom: 10px;
    left:230px;
    display: flex;
}
.date_img3_p{
    margin: 0px;
    color:white;
}
.img_4{
    margin-top: 20px;
    margin-left: 20px;
    object-fit: cover;
    z-index:0;
    position: relative;
    transition: height 0.5s,width 0.5s;
    height: 215px;
    width: 400px;
    display: flex;
}
.img_4:hover{
    height:250px;
    width:425px;
}
.side_top{
    display: flex;
}
.Latest{
    background-color: black;
    color: white;
    font-family: "Montserrat";
    width: 160px;
    height: 50px;
}
.latest_div{
    display: flex;
}
.popular_big{
    background-color: white;
    font-family: "Montserrat";
    width: 160px;
    height: 50px;
}
.popular_big_div{
    display: flex;
}
.side{
    margin-left: 50px;
}
.side_top{
    margin-bottom: 20px;
}
.side_1{
    display: flex;
    background-color: white;
    border-radius: 8px;
    padding-top: 5px;
    padding-left: 8px;
    margin-bottom: 5px;
    transition: box-shadow 0.5s;
}
.side_1:hover{
    box-shadow: 3px 3px 5px grey;
}
.cric_img{
    width: 90px;
    height: 80px;
    border-radius: 10px;
}
.cric{
    margin-right: 20px;
}
.cric_p{
    margin: 0px;
    width: 150px;
    font-weight: bold;
}